@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --Darkgray: #2c2c2d;
  --Darkblue: #262a56;
  --DarkBrown: #884a39;
  --LightBrown: #c38154;
  --ColorWhite: #d9d9d9;
}

/* Reset some default styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  overflow-x: hidden;
}
/*styling body*/
body {
  font-family: Arial, sans-serif;
  background-color: var(--LightBrown);
}
/*styling the menu bar position */
header {

  width: 100%;
}

.navbar-brand {
  font-size: 1.5em;

}
i {

}
.nav-item {
  font-size: 1.35em;

}
/*styling navigation link*/
.nav-links {
  list-style-type: none;
  display: flex;

}


.nav-links a {
  color: var(--Darkgray);
  text-decoration: none;
  font-size: 1.125em;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: var(--LightBrown);
}

/* styling intro right and left*/
.intro {
  display: flex;
  justify-content: center;
  align-items: center;


}
.intro_left h1 {
  font-family: "Urbanist", sans-serif;
  font-size: 4em;
  text-align-last: center;
  color: var(--Darkgray);

}
.intro_left h6 {
  font-size: 15px;
  text-align-last: center;
  color: var(--ColorWhite);

}

.intro_right img {

  width: 400px;
  border-radius: 100%;

}
 
.cart-items{
  display: flex;
  align-items: center;
}

/*button*/
#about-us{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 40%;
  text-align: center;
  background-color: var(--Darkblue);
  color: var(--ColorWhite);
  border-radius: 50px;
  padding: 8px;
  border: none;
  text-decoration: none;

}
#about-us:hover {
  background-color: var(--Darkgray);
  color: var(--ColorWhite);
}
.main_container {
  display: flex;
  flex-direction: column;
  background-color: var(--ColorWhite);
  width: 90%;
  margin: 64px auto;
  border-radius: 8px;
  padding: 12px;
  text-align: center;
}
.menu {
  color: var(--Darkblue);
}

.menu_div h1 {
  margin-top: 32px;
}
.menu_coffee {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  text-align: center;
  padding-top: 48px;
  margin-bottom: 32px;
}

.menu-title {
  color: var(--Darkblue);
  background-color: #2c2c2d52;
  padding: 8px;
  transition: 0.1s ease-out;
  border-radius: 0  0 8px 8px;;
}

.add-button{
  color: var(--Darkblue);
  background-color: #2c2c2d52;
  border: none;
  padding: 8px;
  border-radius: 50px;
}
.add-button:hover{
  color: var(--ColorWhite);
}
.feedback {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 8px;
}
.feedback img {
  border-radius: 100px;
}
.feed_text {
  text-align: center;
}
.feed_content {
  border-radius: 8px;
  border: 1px solid var(--Darkblue);
  padding: 18px;
}
.footer{
display: flex;
justify-content:center;
align-items:center;
background-color: var(--Darkgray) ;

}
 input, textarea{
  border-radius: 8px;
  border: none;
  padding: 8px;
  outline: none;

 
 }
.footer_left{
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  color: var(--ColorWhite);
}
 .footer_left h1{
  font-size: 16px;
 }
 .footer_left p{
  font-size: 12px;
 }
.footer_form{
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}
.footer_form label{
  color: var(--ColorWhite);

}
#btn{
  margin: auto;
  font-size: 12px;
  width: 50%;
  border-radius: 8px;
  border: none;
  background-color: var(--Darkblue);
  color: var(--ColorWhite);
  padding: 6px;
}
::placeholder
{
  color: rgba(128, 128, 128, 0.614);
}

